<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>默认标题</title>
    <link href="${opsStaticUrl}/lib/${name}/last/build/static/css/${module}.css?v=${version}"
          rel="stylesheet">
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<script type="text/javascript"
        src="${opsStaticUrl}/lib/${name}/last/build/static/js/${module}.js?v=${version}"></script>
</body>
</html>